@media only screen and (max-width: 600px) {
    .nav-container {
        display: none;
        position: absolute;
        top: 87px;
        right: 0px;
        padding: 15px 0;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
    }
    .hero {
        padding: 30px 50px;
        border-radius: 10px 0 0 10px;
        font-size: 30px;
        line-height: 0.8;
        left: 10%;
        right: 0;
        top: 45%;
    }
    #item-1 {
        background: url(../img/hero.jpg) no-repeat 35% 100% / 2000px;
    }
    .title {
        padding: 25px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        width: 400px;
        max-width: 85vw;
    }
    .nav-button {
        padding: 25px;
        width: 35px;
        height: 35px;
        display: flex;
        background: rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
    }
    .nav-button:hover {
        background: rgba(0, 0, 0, 1);
    }
    .nav-button:active {
        background: rgba(0, 0, 0, 0.5);
    }
    .slider {
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .aside {
        position: initial;
        min-height: 300px;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    .left-container {
        margin: 85px 0 auto 25px;
    }
    .about-title {
        right: -66px;
        bottom: 141px;
        font-size: 70px;
        transform: rotate(270deg);
    }
    .exp-title {
        right: -11px;
        bottom: 80px;
        font-size: 70px;
        transform: rotate(270deg);
    }
    .footer {
        text-align: center;
        padding: 5px 0;
        min-width: 100vw;
    }
}